<footer class="flex justify-between sm:justify-center sm:gap-4 items-center">
  <span class="text-center text-gray-400 py-2 text-sm">
    2020-{new Date().getFullYear()} &copy; LangS_xx
  </span>
</footer>
