---
import { basePages } from '../../sitemap';
import HeaderLink from './HeaderLink.astro';
---

<header
  class="flex gap-2 text-sm sm:text-base sm:gap-6 py-4 sticky top-0 bg-white dark:bg-black"
>
  {basePages.map((link) => <HeaderLink href={link} />)}
  <HeaderLink href="/resume.pdf">/resume</HeaderLink>
  <div class="grow"></div>
  <HeaderLink href="https://github.com/jsun969">
    <i class="ri-github-fill"></i>
  </HeaderLink>
  <HeaderLink href="https://twitter.com/jsun969">
    <i class="ri-twitter-fill"></i>
  </HeaderLink>
  <HeaderLink href="https://discord.gg/Q7xZVtF6pF">
    <i class="ri-discord-fill"></i>
  </HeaderLink>
  <HeaderLink href="/blog.xml">
    <i class="ri-rss-fill"></i>
  </HeaderLink>
</header>
