---
import { getCollection } from 'astro:content';

import BlogItem from '../components/blog/BlogItem.astro';
import Layout from '../layouts/Layout.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<Layout title="Blog">
  {
    posts.map((post, i) => (
      <>
        {post.data.date.getFullYear() <
          (posts[i - 1]?.data.date.getFullYear() || 2077) && (
          <div class="font-black text-gray-100 text-9xl sm:text-[20rem] relative -z-10 select-none dark:text-gray-900">
            {post.data.date.getFullYear()}
          </div>
        )}
        <BlogItem post={post} />
      </>
    ))
  }
</Layout>
