---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jsun Dot LOL">
  <h1 class="text-5xl sm:text-8xl text-center pt-[30vh]">
    Jsun Dot {
      ['L', 'l'][Math.round(Math.random())] +
        ['O', 'o'][Math.round(Math.random())] +
        ['L', 'l'][Math.round(Math.random())]
    }
  </h1>
</Layout>
