---
import Layout from '../layouts/Layout.astro';

const zeroOrOne = () => {
  return Math.round(Math.random());
};

const lol =
  ['L', 'l'][zeroOrOne()] + ['O', 'o'][zeroOrOne()] + ['L', 'l'][zeroOrOne()];
---

<Layout>
  <h1 class="text-center text-5xl sm:text-9xl pt-[36dvh] sm:pt-[30dvh]">
    <span class="font-bold dark:text-white">Jsun Dot</span>
    <span
      class="font-extrabold bg-clip-text text-transparent bg-gradient-to-br from-[#ff5ef7] to-[#02f5ff]"
    >
      {lol}
    </span>
  </h1>
</Layout>
