---
import type { CollectionEntry } from 'astro:content';

// eslint-disable-next-line @typescript-eslint/no-unused-vars
type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
---

<a class="group cursor-pointer block w-fit mb-4" href={'/blog/' + post.slug}>
  <div class="text-2xl">
    <time
      datetime={post.data.date.toISOString()}
      class="text-gray-200 font-light mr-4 group-hover:text-gray-600 transition-colors"
    >
      {
        post.data.date.toLocaleDateString('en', {
          month: 'short',
          day: 'numeric',
        })
      }
    </time>
    <span class="text-gray-500 group-hover:text-black transition-colors">
      {post.data.title}
    </span>
  </div>
  <div class="text-gray-400 group-hover:text-gray-800 transition-colors">
    {
      post.data.language === 'zh-cn' && (
        <span class="text-xs text-white bg-gray-400 group-hover:bg-gray-800 pl-[3px] mr-2">
          CHINESE
        </span>
      )
    }
    {post.data.tags.join(' · ')}
  </div>
</a>
