---
import type { CollectionEntry } from 'astro:content';

export type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
---

<a
  class="group cursor-pointer block w-fit mb-4"
  href={'/blog/' + post.slug}
  title={post.data.description}
>
  <div class="text-2xl">
    <time
      datetime={post.data.date.toISOString()}
      class="inline-block w-[5.5rem] text-gray-400 font-light group-hover:text-gray-800 dark:group-hover:text-gray-50 transition-colors"
    >
      {
        post.data.date.toLocaleDateString('en', {
          month: 'short',
          day: '2-digit',
        })
      }
    </time>
    <span
      class="text-gray-500 dark:text-gray-300 group-hover:text-black dark:group-hover:text-white transition-colors"
    >
      {post.data.title}
    </span>
  </div>
  <div>
    {
      post.data.language === 'zh-cn' && (
        <span class="text-xs text-white dark:text-black bg-gray-400 group-hover:bg-gray-800 dark:group-hover:bg-gray-50 pl-[3px] mr-2 transition-colors">
          CHINESE
        </span>
      )
    }
    <span
      class="text-gray-400 group-hover:text-gray-800 dark:group-hover:text-gray-50 transition-colors"
    >
      {post.data.tags.join(' · ')}
    </span>
  </div>
</a>
