---
---

<footer class="flex justify-center gap-2 items-center">
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
    <img
      alt="Creative Commons License"
      src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png"
    />
  </a>
  <span class="text-center text-gray-400 py-2 text-sm">
    2020-{new Date().getFullYear()} &copy; Yeyang (Justin) Sun
  </span>
</footer>
