---
import Link from './Link.astro';
---

<header class="flex gap-2 sm:gap-6 py-4 sticky top-0 bg-white dark:bg-black">
  <Link href="/" />
  <Link href="/blog" />
  <Link href="/about" />
  <Link href="/friends" />
  <div class="grow"></div>
  <Link href="https://github.com/jsun969">
    <i class="ri-github-fill"></i>
  </Link>
  <Link href="https://twitter.com/jsun969">
    <i class="ri-twitter-fill"></i>
  </Link>
  <Link href="https://discord.gg/Q7xZVtF6pF">
    <i class="ri-discord-fill"></i>
  </Link>
  <Link href="/blog.xml">
    <i class="ri-rss-fill"></i>
  </Link>
</header>
