---
import type { HTMLAttributes } from 'astro/types';

// eslint-disable-next-line @typescript-eslint/no-unused-vars
type Props = HTMLAttributes<'a'>;
const { ...attrs } = Astro.props;
---

<a
  class={Astro.url.pathname === attrs.href
    ? 'text-black'
    : 'text-gray-300 hover:text-black transition-colors'}
  {...attrs}
>
  {Astro.slots.has('default') ? <slot /> : attrs.href}
</a>
