---
import { SEO } from 'astro-seo';
import 'remixicon/fonts/remixicon.css';

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { AVATAR_IMAGE, SITE_NAME, TWITTER_ACCOUNT } from '../constants';

export type Props = {
  title?: string;
  description?: string;
  article?: { tags: string[]; date: string };
};

const {
  title,
  description = "Justin Sun's personal website",
  article,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} - ${SITE_NAME}` : SITE_NAME}</title>
    <SEO
      description={description}
      openGraph={{
        basic: {
          title: title ?? SITE_NAME,
          type: 'website',
          image: AVATAR_IMAGE,
        },
        image: { alt: "Justin Sun's avatar" },
        optional: { description, siteName: SITE_NAME },
        article: {
          authors: article && ['Justin Sun'],
          publishedTime: article?.date,
          tags: article?.tags,
        },
      }}
      twitter={{
        title,
        description,
        image: AVATAR_IMAGE,
        site: TWITTER_ACCOUNT,
        creator: TWITTER_ACCOUNT,
      }}
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="max-w-4xl mx-auto flex flex-col min-h-[100dvh] px-4">
    <Header />
    <main class="grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
